    {% extends "py_data_analysis_code_generator/base.html" %}
    {% block content%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'py_data_analysis_code_generator/style.css' %}">
    <link rel="stylesheet" href="{% static 'py_data_analysis_code_generator/dist/themes/default/style.min.css' %}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <div>
        {% include "py_data_analysis_code_generator/commands.html" %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
            <div class="mb-2"> Current Experiment: {{ current_experiment|safe }} 
                <button type="submit" class="btn btn-danger btn-sm" name="delete_experiment" 
                value="delete_experiment">delete this experiment</button>
                <button type="button" onclick="save_experiment()" class="btn-primary btn-sm btn-success  ml-10" name="save">Save Experiment</button>
                <span  id="save_experiment_status_lbl" value="" class="badge bg-sm bg-success ml-3"></span>
                <button type="button" onclick="toggle_code()" class="btn btn-success btn-sm" name="toggle_code_btn" value=False>Toggle code</button>
                <button type="button" onclick="load_data_frame()" class="btn btn-success btn-sm" name="refresh_data" value=False>Refresh data</button>
            </div>
    </form>
    <div class="container-fluid">
        <div class="row row-height" >
            <div class="col-sm-auto tree_view left" >
                <input id="search-input" class="search-input" autocomplete="off" />
                <br />
                <div id="jstree"> </div>
            </div>
            <div id="steps_list_div" class="col-sm-auto left">
                {% include "py_data_analysis_code_generator/steps_list.html" %}
            </div>
            <div class="col-6">
                <div id="data_frame_div" style="height: 50vh;;overflow-y:auto;overflow-x:auto">
                    {{ dataframe|safe }}
                </div>
                    <form action="" method="post">
                    {% csrf_token %}
                    <button type="button" onclick="get_num__cat_features('numericals')" class="btn btn-success" name="stat_type" value="numericals">Numercials</button>
                    <button type="submit" onclick="get_num__cat_features('categoricals')" class="btn btn-success" name="stat_type" value="categoricals">Categoricals</button>
                    <button type="button" onclick="plot_visualization('hist')" class="btn btn-success" name="plot_type" value="hist">Histogram</button>
                    <button type="button" onclick="plot_visualization('corr_heatmap')" class="btn btn-success" name="plot_type" value="corr_heatmap">Corr Heatmap</button>
                    <button type="button" onclick="plot_visualization('boxplot')" class="btn btn-success" name="plot_type" value="boxplot">Boxplot</button>
                    <button type="button" onclick="plot_visualization('pairplot')" class="btn btn-success" name="plot_type" value="pairplot">Pairplot</button>
                    </form>
                    {% comment %} {% if stats %} {% endcomment %}
                    <div>
                        <span id="stats_div" style="white-space: pre-line">
                            
                        </span>
                    </div>
                    {% comment %} {% endif %} {% endcomment %}
                    {% comment %} {% if plt_encoded %}  {% endcomment %}
                    <img id="visualization_img"  alt="" , width="100%"> 
                    {% comment %} <img id="visualization_img" src="data:image/png;base64,{{plt_encoded|safe}}" alt="" , width="100%">  {% endcomment %}

                    {% comment %} {% endif %} {% endcomment %}
                    {% comment %} {% if code_output_msg %} {% endcomment %}
                        <div class="mt-2" >
                             <textArea id="code_error_txtarea" name="code_error_txtarea" spellcheck="false" readonly cols=100 style="height:400px;background-color: #F5F5F5;color:red">{{code_output_msg}}</textArea> 
                             {% comment %} <p>{{code_output_msg}}</p> {% endcomment %}
                            </div>
                    {% comment %} {% endif %} {% endcomment %}
            </div>
        </div>
      </div>
      <form id="new_step_submit_hidden" style="visibility:hidden" action="/mlstudio/" method="post">
        {% csrf_token %}
        <input type="text" id="new_step" name="new_step" value=""><br>
        <input type="text" id="new_step_desc" name="new_step_desc" value=""><br>
        <input type="text" id="new_step_code" name="new_step_code" value=""><br>
    </form>

    <!-- Jquery for Jstree -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script id="jstree_script" src="{% static 'py_data_analysis_code_generator/dist/jstree.min.js' %}"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script> {% endcomment %}
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    
    {% csrf_token %}
    <script>
        $(document).ready(function () {
            var jsondata;
            var node;
            $.getJSON('../static/py_data_analysis_code_generator/tree_view_nodes.json', function(data) {         
                jsondata=data;
                createJSTree(jsondata);
            });
        });

        function createJSTree(jsondata) {
            $('#jstree').jstree({
                "types" : {
                    "default-small" : {
                      "icon" : "glyphicon glyphicon-flash"
                    },
                    "demo" : {
                      "icon" : "glyphicon glyphicon-ok"
                    }
                  },
                "core": {     
                    "themes": {
                        "name": "default-small",
                        "dots": false,
                        "icons": true
                    },               
                    'data': jsondata
                },
                "plugins": ["search","themes","types"],
                "search": {
                    "case_sensitive": false,
                    "show_only_matches": true
                }
            });
            //  bind to events triggered on the tree
            $('#jstree').on("changed.jstree", function (e, data) {
                console.log("selected node is " + data.selected[0]);
                node=data.node
            });
            //  interact with the tree
            $('#jstree').on('click', function () {
                console.log("pressed ")
            });

            // for double click event
            $(document).on("dblclick.jstree","#jstree", function (event) {
                console.log(node.id)
                //var tree = $("#jstree").jstree(true); 			
                //var node = tree.get_node(event.target); 			
                //var nodePath = tree.get_path(node).join("/");
                if (node.parent=="#")
                    console.log("it is parent node")
                else{
                    //console.log("double clicked id"+ node.id );
                    //console.log("double clicked text "+ node.text );
                    const new_step_elem = document.getElementById("new_step");
                    //new_step_elem.value=node.id
                    //console.log("new step value: "+new_step_elem.value);
                    //document.getElementById("new_step_submit_hidden").submit();

                    $('#steps_list_div').load(
                        "/mlstudio/add_new_step?new_step=" + node.id,
                        function(responseTxt, statusTxt, xhr){
                            if(statusTxt == "success")
                            console.log("jstree double click , External content loaded successfully!");
                            if(statusTxt == "error")
                            alert("Error: " + xhr.status + ": " + xhr.statusText);
                        }
                    ); 
                    }
            });

            $('#jstree').bind("ready.jstree", function (event, data) {
                $(this).jstree("open_all");
            });
        };

        $(document).ready(function () {
            $(".search-input").keyup(function () {
                var searchString = $(this).val();
                $('#jstree').jstree('search', searchString);
            });
        });
    </script>
    {% comment %}     <script>
        function expandTextarea(name) {
            document.getElementsByName(name).forEach((item) => {
                item.addEventListener('keyup', () => {
                  item.style.overflow = 'hidden';
                  item.style.height = 0;
                  item.style.height = item.scrollHeight + 'px';
                });
            });
        }
        expandTextarea('step_code');
    </script> {% endcomment %}
    
    {% csrf_token %}
    <script>
        function get_current_date(){
            let today = new Date();
            let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            return time
        }

        function save_experiment(){
            console.log("save experiment is invoked");

            var steps_ids = document.getElementsByClassName("step_id"); 
            var steps_desc = document.getElementsByClassName("step_desc"); 
            var steps_codes = document.getElementsByClassName("step_code"); 
            var updated_steps_ids = []; var updated_steps_desc=[]; var updated_steps_codes=[];
            for (let i = 0; i < steps_codes.length; i++){
                //alert(editors[i].getValue())
                updated_steps_ids.push(steps_ids[i].innerHTML); 
                updated_steps_desc.push(steps_desc[i].value);
                updated_steps_codes.push(editors[i].getValue());  
            }
            console.log(updated_steps_ids)
            if (updated_steps_ids.length==0){  // for empty experiment
                updated_steps_ids=["empty"];updated_steps_desc=["empty"];updated_steps_codes=["empty"];
            }
                $.ajax({
                    type: "POST",
                    headers: {'X-CSRFToken': csrftoken},
                    url: "/mlstudio/",
                    data: {
                        steps:updated_steps_ids.join(","),
                        steps_desc:updated_steps_desc.join("%%%"),
                        steps_codes:updated_steps_codes.join('%%%')
                    },
                    success: function () {
                        console.log("success")
                        if (xhr.readyState === 4) {
                            console.log(xhr.status);
                            console.log(xhr.responseText);
                        }
                    },dataType: "json"
                });

                $("#save_experiment_status_lbl").html("experiment saved last time at "+ get_current_date())
        }                  
    </script>

    <script>
        function load_data_frame(){
            $.ajax({
                type: "GET",
                headers: {'X-CSRFToken': csrftoken},
                url: "/mlstudio/load_data_frame",
                data: {
                },
                success: function (frame_html) {
                    //alert("success response for refresh data ")
                    $('#data_frame_div').html(frame_html);
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },dataType: "json"
            });
        }

        function get_num__cat_features(stat_type){
            console.log("get_numericals_cat_features is involed!")
            //alert(stat_type)
            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: "/mlstudio/",
                data: {
                    stat_type:stat_type
                },
                success: function (response) {
                    //alert("success response for num cat features ")
                    $('#stats_div').html(response);
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },dataType: "json"
            });
        }

        function plot_visualization(plot_type){
            console.log("plot_visualization is involed!")
            //alert(stat_type)
            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: "/mlstudio/",
                data: {
                    plot_type:plot_type
                },
                success: function (response) {
                    //alert("success response for  plot_visualization ")
                    let img_src="data:image/png;base64," + response
                    $('#visualization_img').attr('src',img_src)
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },dataType: "json"
            });
        }
    </script>
    {% endblock content %}