    {% extends "py_data_analysis_code_generator/base.html" %}
    {% block content%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'py_data_analysis_code_generator/style.css' %}">
    <link rel="stylesheet" href="{% static 'py_data_analysis_code_generator/dist/themes/default/style.min.css' %}" />
    <div>
        {% include "py_data_analysis_code_generator/commands.html" %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
            <div class="mb-2"> Current Experiment: {{ current_experiment|safe }} 
                <button type="submit" class="btn btn-danger btn-sm" name="delete_experiment" 
                value="delete_experiment">delete this experiment</button>
            </div>
    </form>
    <div class="container-fluid">
        <div class="row row-height" >
            <!-- 3 setup a container element -->
            <div class="col-sm-auto tree_view" >
                <input id="search-input" class="search-input" autocomplete="off" />
                <br />
                <div id="jstree"> </div>
            </div>
            <div class="col-sm-auto left">
                {% include "py_data_analysis_code_generator/steps_list.html" %}
            </div>
            <div class="col-6">
                <div style="height: 50vh;;overflow-y:auto;overflow-x:auto">
                    {{ dataframe|safe }}
                </div>
                    <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm" name="toggle_code" value=False>Toggle code</button>
                    <button type="submit" class="btn btn-success" name="stat_type" value="numericals">Numercials</button>
                    <button type="submit" class="btn btn-success" name="stat_type" value="categoricals">Categoricals</button>
                    <button type="submit" class="btn btn-success" name="plot_type" value="hist">Histogram</button>
                    <button type="submit" class="btn btn-success" name="plot_type" value="corr_heatmap">Corr Heatmap</button>
                    <button type="submit" class="btn btn-success" name="plot_type" value="boxplot">Boxplot</button>
                    <button type="submit" class="btn btn-success" name="plot_type" value="pairplot">Pairplot</button>
                    </form>
                    {% if stats %} 
                        <div style="white-space: pre-line">
                            {{ stats|safe }}
                        </div>
                    {% endif %}
                    
                    {% if plt_encoded %} 
                        <img src="data:image/png;base64,{{plt_encoded|safe}}" alt="" , width="100%"> 
                    {% endif %}
                    {% if code_output_msg %}
                        <textArea name="code_error_txtarea" spellcheck="false" rows=20 cols=100 style="background-color: #F5F5F5;color:red">{{code_output_msg}}</textArea>
                    {% endif %}
            </div>
        </div>
      </div>
      <form id="new_step_submit_hidden" style="visibility:hidden" action="/code-generator/" method="post">
        {% csrf_token %}
        <input type="text" id="new_step" name="new_step" value=""><br>
    </form>

    <!-- Jquery for Jstree -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="{% static 'py_data_analysis_code_generator/dist/jstree.min.js' %}"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script> {% endcomment %}
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    
    {% csrf_token %}
    <script>
        $(function () {
            var jsondata
            $.getJSON('../static/py_data_analysis_code_generator/tree_view_items.json', function(data) {         
                console.log(data);
                jsondata=data;
                createJSTree(jsondata);
                });
            });

        function createJSTree(jsondata) {
            $('#jstree').jstree({
                "types" : {
                    "default-small" : {
                      "icon" : "glyphicon glyphicon-flash"
                    },
                    "demo" : {
                      "icon" : "glyphicon glyphicon-ok"
                    }
                  },
                "core": {     
                    "themes": {
                        "name": "default-small",
                        "dots": false,
                        "icons": true
                    },               
                    'data': jsondata
                },
                "plugins": ["search","themes","types"],
                "search": {
                    "case_sensitive": false,
                    "show_only_matches": true
                }
            });
           // $("#jstree").jstree("set_theme", "apple"); 
            // 7 bind to events triggered on the tree
            $('#jstree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
            });
            // 8 interact with the tree - either way is OK
            $('#demo').on('click', function () {
                console.log("pressed")
                $('#jstree').jstree(true).select_node('child_node_1');
            });
            // for double click event
            $('#jstree').bind("dblclick.jstree", function (event) {
                var tree = $(this).jstree(); 			
                var node = tree.get_node(event.target); 			
                var nodePath = tree.get_path(node).join("/");
                if (node.parent=="#")
                    console.log("it is parent node")
                //console.log("double clicked id"+ node.id );
                //console.log("double clicked text "+ node.text );
                const command_btn = document.getElementById("new_step");
                command_btn.value=node.id
                console.log(command_btn.value)
                document.getElementById("new_step_submit_hidden").submit();

                // AJAX CODE -- user double clicked on a step to add it to the pipeline
                /*$.ajax({
                    type: "POST",
                    headers: {'X-CSRFToken': csrftoken},
                    url: "/code-generator/",
                    data: {
                    new_step:node.id
                    },
                    success: function () {
                        console.log("success")
                    if (xhr.readyState === 4) {
                        console.log(xhr.status);
                        console.log(xhr.responseText);
                    }},
                    dataType: "json"
                });*/
            });

            $('#jstree').bind("ready.jstree", function (event, data) {
                $(this).jstree("open_all");
            });
        };

        $(document).ready(function () {
            $(".search-input").keyup(function () {
                var searchString = $(this).val();
                $('#jstree').jstree('search', searchString);
            });
        });
    </script>
    <script>
        function expandTextarea(name) {
            document.getElementsByName(name).forEach((item) => {
                item.addEventListener('keyup', () => {
                  item.style.overflow = 'hidden';
                  item.style.height = 0;
                  item.style.height = item.scrollHeight + 'px';
                });
            });
        }
        expandTextarea('step_cell_txtarea');
    </script>
    {% endblock content %}