{% block steps_list %}
{% load static %}
<script src="{% static 'py_data_analysis_code_generator/codemirror/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href={% static 'py_data_analysis_code_generator/codemirror/lib/codemirror.css' %}>
<script src="{% static 'py_data_analysis_code_generator/codemirror/mode/python/python.js'%}"></script>

{% for elem in steps  %}
    {% include "py_data_analysis_code_generator/card.html" %}
    <p></p>
{%  endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var textareas = document.getElementsByClassName("step_cell_txtarea"); 
        for (let i = 0; i < textareas.length; i++){
            if (i==textareas.length -1){ // text area for the last step
                console.log("last step");
                textareas[i].innerHTML="{{new_step_generated_code|default:''  }}"
                textareas[i].focus()
            }
            
            CodeMirror.fromTextArea(textareas[i], {
                lineNumbers: true,
                mode:  "python"
            });
            
        }
    })
    </script>
{% endblock steps_list%}