{% load static %}
<script src="{% static 'py_ml_studio/codemirror/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href={% static 'py_ml_studio/codemirror/lib/codemirror.css' %}>
<script src="{% static 'py_ml_studio/codemirror/mode/python/python.js'%}"></script>
<form action="" method="post">
    {% csrf_token %}
    <div class="card" draggable="true" style="width: 35rem;">
        <div  class="container">
          <div class="row row-cols-auto">
            <h5 class="step_index col"></h5> 
            <h5 class="step_id col">{{ step.0 }}</h5>
          </div>
          <input type="text" class="step_desc" style="width:100%; border-width:0" value="{{step.1}}"></input>
          
          <span class="step_code_container" >
              <textArea class="step_code" name="step_code" spellcheck="false" 
              rows=1 cols=45 style="background-color: #F5F5F5;">{{step.2}}</textArea>
          </span>
        </div>
        <div  style="margin:5px">
            <button type="button" onclick="run_func(this)" class="btn-primary btn-sm  ml-10" name="start" value="run">Run</button>
            <button type="button" onclick="run_all_above_func(this)" class="btn-primary btn-sm  ml-10" name="start" value="run-all-above">Run All Above</button>
            <button type="button" onclick="remove_element_func(this)" class="btn-primary btn-sm btn-danger  ml-10" name="start" value="remove">Remove</button>
        </div>
    </div>
</form>