{% block steps_list %}
{% load static %}
<script src="{% static 'py_ml_studio/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'py_ml_studio/codemirror/lib/plugins/placeholder.js' %}"></script>
<link rel="stylesheet" href={% static 'py_ml_studio/codemirror/lib/codemirror.css' %}>
<script src="{% static 'py_ml_studio/codemirror/mode/python/python.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<!-- Latest Sortable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js" integrity="sha512-Eezs+g9Lq4TCCq0wae01s9PuNWzHYoCMkE97e2qdkYthpI0pzC3UGB03lgEHn2XM85hDOUF6qgqqszs+iXU4UA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% for step in steps  %}
    {% include "py_ml_studio/card.html" %}
    <p></p>
{%  endfor %}
<script>
    // Simple list
    Sortable.create(steps_list_div, { 
        animation:150,
        selectedClass:"bg-info",
        hostClass: 'blue-background-class',
        // when dragging start
        onStart: function(evt){
            hide_code();
        },
        // Called when dragging element changes position
        onUpdate: function(evt) {
            init_elements_attrs();
            update_code_mirror_editors_values();
            save_experiment();
        },
        onEnd: function(evt) {
            //toggle_code();
        },        
    });
</script>
<script>
    var editors=[]
    function init_code_mirror_editors(){
        editors=[];
        var steps_codes = document.getElementsByClassName("step_code"); 
        for (let i = 0; i < steps_codes.length; i++){
            steps_codes[i].id="step_code_"+i;
            //alert(steps_codes[i].innerHTML);
            var editor= CodeMirror.fromTextArea(steps_codes[i], {
                lineNumbers: false,
                mode:  "python"
            });
            editor.setOption("extraKeys", {
                'Shift-Enter': function(cm) {
                    //editor.replaceSelection("\n" ,"end");
                    //alert("test codemirror keymap")
                    run_btn=document.getElementById("run_btn_"+i);
                    if (typeof run_btn.onclick == "function") {
                        run_btn.onclick.apply(run_btn);
                    }
                }
              });
            editors.push(editor)
        }
    }

    function update_code_mirror_editors_values(){
        var steps_codes = document.getElementsByClassName("step_code"); 
        for (let i = 0; i < steps_codes.length; i++){
            //steps_codes[i].id="step_code_"+i;
            editors[i].setValue(steps_codes[i].value);
        }
    }

    function init_elements_attrs(){
        var steps_indices = document.getElementsByClassName("step_index"); 
        var steps_desc = document.getElementsByClassName("step_desc"); 
        var steps_codes = document.getElementsByClassName("step_code"); 
        var cards_divs=document.getElementsByClassName("card"); // for removing step card 
        var run_btns = document.getElementsByClassName("run_btn"); 
        var run_all_above_btns = document.getElementsByClassName("run_all_above_btn"); 

        for (let i = 0; i < steps_codes.length; i++){
            //console.log(steps_codes[i].innerHTML);
            steps_indices[i].innerHTML=i+".";
            steps_desc[i].id="step_desc_"+i;
            steps_codes[i].id="step_code_"+i;
            cards_divs[i].id="card_"+i;
            run_btns[i].id="run_btn_"+i;
            if (i==steps_codes.length -1){ // text area for the last step
                //console.log("steps codes last step "+steps_desc[i].value)
                steps_codes[i].focus()
            }
        }
    }
    $(document).ready(function(){
        init_elements_attrs();
        init_code_mirror_editors();
    })
    </script>

    <script>
        function remove_element_func(e) {
            //console.log(e.parentNode.parentNode.id.substring(5));
            //console.log("remove element is invoked!");
            var element = document.getElementById(e.parentNode.parentNode.id);
            element.parentNode.removeChild(element);
            // remove codemirror editor from the list 
            editors.splice(parseInt(e.parentNode.parentNode.id.substring(5)),1);
            //console.log(parseInt(e.parentNode.parentNode.id.substring(5)));
            init_elements_attrs();
            save_experiment();
          }

        function toggle_code(){
            //console.log("toggle code is invoked!");

            var step_code_containers = document.getElementsByClassName("step_code_container"); 

            $( ".step_code_container" ).each(function( index ) {
                if($(this).is(":visible")){$( this ).hide()}
                else{ $( this ).show()}
            }); 
        }
        function hide_code(){
            var step_code_containers = document.getElementsByClassName("step_code_container"); 

            $( ".step_code_container" ).each(function( index ) {
                if($(this).is(":visible")){$( this ).hide()}
            });
        }
    </script>
    
    <script>
        function run_code(code){
            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: window.location.pathname,
                data: {
                    run_step:code
                },
                success: function (response) {
                    //alert("success response for run all above code ")
                    $('#output_div').html(response);
                    $('#visualization_img').attr('src',"")
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },
                dataType: "json"
            });
        }
        function run_func(e){
            step_index = parseInt(e.parentNode.parentNode.id.substring(5));
            //console.log("card id is" + e.parentNode.parentNode.id);

            step_code_val= editors[step_index].getValue();
            run_code(step_code_val);
        }
        function run_all_above_func(e) {
            step_index = parseInt(e.parentNode.parentNode.id.substring(5));
            //console.log("card id is" + e.parentNode.parentNode.id);
            //console.log("run all above is invoked on the step "+ step_index);
            var steps_codes = document.getElementsByClassName("step_code"); 
            var steps_codes_vals=[]
            for (let i = 0; i < step_index +1 ; i++){
                //alert(editors[i].getValue())
                steps_codes_vals.push(editors[i].getValue());
            }

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: window.location.pathname,
                data: {
                    run_all_steps_codes:steps_codes_vals.join("%%%")
                },
                success: function (response) {
                    //alert("success response for run all above code ")
                    //$('#code_error_txtarea').val(response);
                    $('#output_div').html(response);
                    $('#visualization_img').attr('src',"")
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },
                dataType: "json"
            });
          }
    </script>

{% endblock steps_list%}