{% block steps_list %}
{% load static %}
<script src="{% static 'py_ml_studio/codemirror/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href={% static 'py_ml_studio/codemirror/lib/codemirror.css' %}>
<script src="{% static 'py_ml_studio/codemirror/mode/python/python.js'%}"></script>
{% for step in steps  %}
    {% include "py_ml_studio/card.html" %}
    <p></p>
{%  endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script>
    var editors=[]
    function init_code_mirror_editors(){
        editors=[];
        var steps_codes = document.getElementsByClassName("step_code"); 
        for (let i = 0; i < steps_codes.length; i++){
            steps_codes[i].id="step_code_"+i;
            
            var editor= CodeMirror.fromTextArea(steps_codes[i], {
                lineNumbers: false,
                mode:  "python"
            });
            editors.push(editor)
        }
    }

    function init_elements_attrs(){
        var steps_indices = document.getElementsByClassName("step_index"); 
        var steps_desc = document.getElementsByClassName("step_desc"); 
        var steps_codes = document.getElementsByClassName("step_code"); 
        var cards_divs=document.getElementsByClassName("card"); // for removing step card 

        for (let i = 0; i < steps_codes.length; i++){
            console.log(steps_indices[i].innerHTML);
            steps_indices[i].innerHTML=i+".";
            steps_desc[i].id="step_desc_"+i;
            steps_codes[i].id="step_code_"+i;
            cards_divs[i].id="card_"+i;
            if (i==steps_codes.length -1){ // text area for the last step
                console.log("steps codes last step "+steps_desc[i].value)
                steps_codes[i].focus()
            }
        }
    }
    $(document).ready(function(){
        init_elements_attrs();
        init_code_mirror_editors();
    })
    </script>

    <script>
        function remove_element_func(e) {
            console.log(e.parentNode.parentNode.id);
            console.log("remove element is invoked!");
            var element = document.getElementById(e.parentNode.parentNode.id);
            element.parentNode.removeChild(element);
            // remove codemirror editor from the list 
            editors.splice(parseInt(e.parentNode.parentNode.id),1)
            init_elements_attrs();
          }

        function toggle_code(){
            console.log("toggle code is invoked!");

            var step_code_containers = document.getElementsByClassName("step_code_container"); 

            $( ".step_code_container" ).each(function( index ) {
                if($(this).is(":visible")){$( this ).hide()}
                else{ $( this ).show()}
            }); 
        }
    </script>
    
    <script>
        function run_func(e){
            step_index = parseInt(e.parentNode.parentNode.id.substring(5));
            console.log("card id is" + e.parentNode.parentNode.id);

            step_code_val= editors[step_index].getValue();
            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: window.location.pathname,
                data: {
                    run_step:step_code_val
                },
                success: function (response) {
                    //alert("success response for run all above code ")
                    $('#code_error_txtarea').val(response);
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },
                dataType: "json"
            });
        }
        function run_all_above_func(e) {
            step_index = parseInt(e.parentNode.parentNode.id.substring(5));
            //console.log("card id is" + e.parentNode.parentNode.id);
            //console.log("run all above is invoked on the step "+ step_index);
            var steps_codes = document.getElementsByClassName("step_code"); 
            var steps_codes_vals=[]
            for (let i = 0; i < step_index +1 ; i++){
                //alert(editors[i].getValue())
                steps_codes_vals.push(editors[i].getValue());
            }

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': csrftoken},
                url: window.location.pathname,
                data: {
                    run_all_steps_codes:steps_codes_vals.join("%%%")
                },
                success: function (response) {
                    //alert("success response for run all above code ")
                    $('#code_error_txtarea').val(response);
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                },
                dataType: "json"
            });
          }
    </script>

{% endblock steps_list%}