
  /*Set the row height to the viewport*/
.row-height{
    height: 100vh;
  }
  
  /*Set up the columns with a 100% height, body color and overflow scroll*/
  
  .left{
    background-color: white;
    height: 100%;
    overflow-y: auto;
  }
  
  .right{
    background-color: blue;
    height: 100%;
    overflow-x: scroll;
  }
  
  .mid{
    background-color: green;
    height: 100%;
    overflow-y: scroll;
  }
  
  /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  * {
    -ms-overflow-style: none !important;
  }

  .button-box {
    text-align:center;
    margin-top:20px;
 }
  .tree_view{
    border-color: green;
    border-width:40px;
  }

  .search-input{
  }